@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto';
    font-size: 1.3;
}

h1,p{
    color: #FFFFFF; 
}

h1{
    font-weight: 900;
}

p{
    font-weight: 400;
}
.intro{
    background: #23424A;
}

.container{
    width: 80%;
    max-width: 750px;
    padding: 5em 0;
    margin: 0 auto;
}

.content{
    width:60%;  
} 

.btn{
    border-radius: 1em;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    background: #38CFD9;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
